{% extends 'Cotle/base.html'%}

{% block content %}
     {% for rec in Recs %}
        <div class="rec-rapper">
            <br>
            <p class="rec-owner">{{ rec.owner }}</p>
            <h3><a href ="{% url 'rec_detail' pk=rec.pk %}" class="rec-title">{{ rec.title }}</a></h3>
            <br>
            <div class="rec-con-rapper">
                 <p class="rec-content">{{ rec.content }}</p>
            </div>
            <a href="{% url 'app_new' pk=rec.pk %}"><button type="submit" class="save btn btn-default" >Apply !</button></a>
            <a href="{% url 'app_del' pk=rec.pk %}"><button type="submit" class="save btn btn-default" >cancel...</button></a>
            <br>
            <p class="rec-pub-date">{{ rec.pub_date| date:"y m d f" }}</p>
            <p class="app-count">Users : {{ rec.appcount }}</p>
        </div>
      {% endfor %}
{% endblock %}